.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 39, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  img {
    width: 150px;
  }
  .fa {
    display: none;
  }
  .nav-links {
    flex: 1;
    text-align: right;
    li {
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
      &::after {
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        margin: auto;
        background: $header-line-bg;
        transition: 0.3s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
      a {
        color: $text-color-1;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
}

.text-box {
  width: 90%;
  color: $text-color-1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 62px;
  }
  p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: $text-color-1;
  }
}

.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
  .blog-left {
    flex-basis: 65%;
    img {
      width: 100%;
    }
    h2 {
      color: #222;
      font-weight: 600;
      margin: 30px 0;
    }
    p {
      color: #999;
      padding: 0;
    }
  }
  .blog-right {
    flex-basis: 32%;
    h3 {
      background: #f44336;
      color: $text-color-1;
      padding: 7px 0;
      font-size: 16px;
      margin-bottom: 20px;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #555;
      padding: 8px;
      box-sizing: border-box;
    }
  }
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
  h3 {
    text-align: left;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
  }
  button {
    margin: 10px 0;
  }
}
