@import '_mixins';
@import '_variables';
@import '_desktop.scss';

@import '_header.scss';
@import '_course.scss';
@import '_campus.scss';
@import '_facilities.scss';
@import '_testimonials.scss';
@import '_cta.scss';
@import '_footer.scss';

@import '_aboutUs.scss';

@import '_responsive';

* {
  font-family: 'Poppins', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: $text-color-1;
  border: 1px solid #ffffff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  &:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    text-decoration: none;
    color: $text-color-1;
  }
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: $text-color-3;
  &:hover {
    color: $text-color-1;
  }
}
