<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisccing elit.</p>

    <div class="row">
        <div class="campus-col">
            <img src="../img/london.png">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="../img/newyork.png">
            <div class="layer">
                <h3>NEW YORK</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="../img/washington.png">
            <div class="layer">
                <h3>WASHINGTON</h3>
            </div>
        </div>
    </div>
</section>