<section class="course">
    <h1>Course We Offer</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisccing elit.</p>

    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae minus sed ipsa, tempore cupiditate neque nostrum
            facilis voluptates incidunt voluptatum molestiae corrupti voluptatibus
            temporibus, alias a eius odio. Distinctio, ipsam?</p>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae minus sed ipsa, tempore cupiditate neque nostrum
            facilis voluptates incidunt voluptatum molestiae corrupti voluptatibus
            temporibus, alias a eius odio. Distinctio, ipsam?</p>
        </div>
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae minus sed ipsa, tempore cupiditate neque nostrum
            facilis voluptates incidunt voluptatum molestiae corrupti voluptatibus
            temporibus, alias a eius odio. Distinctio, ipsam?</p>
        </div>
    </div>
</section>