<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisccing elit.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="../img/library.png">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Facilis non nesciunt aut accusamus accusantium at nobis quam
            consequatur architecto? Natus molestias, </p>
        </div>
        <div class="facilities-col">
            <img src="../img/basketball.png">
            <h3>Larges Play Ground</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Facilis non nesciunt aut accusamus accusantium at nobis quam
            consequatur architecto? Natus molestias, </p>
        </div>
        <div class="facilities-col">
            <img src="../img/cafeteria.png">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Facilis non nesciunt aut accusamus accusantium at nobis quam
            consequatur architecto? Natus molestias, </p>
        </div>
    </div>
</section>