<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veniam deleniti rerum ea cumque atque, sit amet hic inventore <br>pariatur, ut vero laudantium ipsa quibusdam repellendus a doloremque esse sunt?</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

<include src="src/templates/modals.html"></include>
<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>
