<section class="testimonials">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisccing elit.</p>

    <div class="row">
        <div class="testimonials-col">
            <img src="../img/user1.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eaque laborum placeat vero
                veniam dignissimos officiis impedit. Quibusdam ea
                eveniet laudantium? Deserunt natus facilis cupiditate
                molestiae, nemo rerum ut magnam eius!</p>
                <h3>Christine Berkley</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="../img/user2.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eaque laborum placeat vero
                veniam dignissimos officiis impedit. Quibusdam ea
                eveniet laudantium? Deserunt natus facilis cupiditate
                molestiae, nemo rerum ut magnam eius!</p>
                <h3>David Bayer</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>